<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左侧导航页面</title>
</head>
<body>
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu">
            <li>
                <div class="sidebar-toggler hidden-phone"></div>
            </li>
            <script>
                var role_tag = 1;
            </script>
            <li id="channel1">
                <a href="javascript:;">
                    <i class="fa fa-cloud"></i>
                    <span class="title">服务器管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li id="channel1_1">
                        <a href="/server">
                            <span class="title">游戏服</span>
                        </a>
                    </li>
                    <li id="channel1_2">
                        <a href="/accserver">
                            <span class="title">账号&全局</span>
                        </a>
                    </li>
                    <li id="channel1_3">
                        <a href="/push_files/index">
                            <span class="title">更新操作</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="channel2">
                <a href="/partner">
                    <i class="fa fa-bookmark"></i>
                    <span class="title">渠道管理</span>
                </a>
            </li>
            <li id="channel3">
                <a href="/user">
                    <i class="fa fa-user"></i>
                    <span class="title">用户管理</span>
                </a>
            </li>
            <li id="channel4">
                <a href="/task_manage">
                    <i class="fa fa-tasks"></i>
                    <span class="title">任务管理</span>
                </a>
            </li>
            <li id="channel5">
                <a href="/log">
                    <i class="fa fa-file"></i>
                    <span class="title">系统日志</span>
                </a>
            </li>
            <li id="channel9">
                <a href="/mergeinfo">
                    <i class="fa fa-file"></i>
                    <span class="title">合服信息</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>