<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>策划左侧导航栏</title>
</head>
<body>
    <!-- BEGIN SIDEBAR MENU -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu">
            <li>
                <div class="sidebar-toggler hidden-phone"></div>
            </li>
            <script>
                var role_tag = 2;
            </script>
            <li id="channel1">
                <a href="/config/configfile">
                    <i class="fa fa-file-text"></i>
                    <span class="title">配置管理</span>
                </a>
            </li>
            <li id="channel11">
                <a href="/plan/game/manage">
                    <i class="fa fa-bookmark"></i>
                    <span class="title">游戏服管理</span>
                </a>
            </li>
            <li id="channel9">
                <a href="/section/section">
                    <i class="fa fa-bookmark"></i>
                    <span class="title">分区管理</span>
                </a>
            </li>
            <li id="channel3">
                <a href="/configtype">
                    <i class="fa fa-reorder"></i>
                    <span class="title">类型管理</span>
                </a>
            </li>
            <li id="channel4">
                <a href="/resource">
                    <i class="fa fa-files-o"></i>
                    <span class="title">资源管理</span>
                </a>
            </li>
            <!--<li id="channel4">-->
            <!--<a href="/resource">-->
                <!--<i class="fa fa-files-o"></i>-->
                <!--<span class="title">资源管理-IOS</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel5">-->
                <!--<a href="/resource2">-->
                    <!--<i class="fa fa-files-o"></i>-->
                    <!--<span class="title">资源管理-航美</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel6">-->
                <!--<a href="/resource3">-->
                    <!--<i class="fa fa-files-o"></i>-->
                    <!--<span class="title">资源管理-清源</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel7">-->
                <!--<a href="/resource4">-->
                    <!--<i class="fa fa-files-o"></i>-->
                    <!--<span class="title">资源管理-安峰</span>-->
                <!--</a>-->
            <!--</li>-->
            <li id="channel2">
                <a href="/force/update">
                    <i class="fa fa-bookmark"></i>
                    <span class="title">强更参数</span>
                </a>
            </li>
            <li id="channel8">
                <a href="/activity/monitor">
                    <i class="fa fa-bookmark"></i>
                    <span class="title">活动监控</span>
                </a>
            </li>
            <li id="channel10">
                <a href="/plan/auto_cut_partition">
                    <i class="fa fa-bell"></i>
                    <span class="title">自动分区</span>
                </a>
            </li>
            <!--<li id="channel9">-->
            <!--<a href="/section/section">-->
                <!--<i class="fa fa-bookmark"></i>-->
                <!--<span class="title">分区管理2</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel5">-->
                <!--<a href="/configfile">-->
                    <!--<i class="fa fa-file-text"></i>-->
                    <!--<span class="title">配置管理</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel6">-->
                <!--<a href="/section/section">-->
                    <!--<i class="fa fa-bookmark"></i>-->
                    <!--<span class="title">分区管理2</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel7">-->
                <!--<a href="/activity/monitor">-->
                    <!--<i class="fa fa-bookmark"></i>-->
                    <!--<span class="title">活动监控</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel5">-->
                <!--<a href="/resource2">-->
                    <!--<i class="fa fa-files-o"></i>-->
                    <!--<span class="title">资源管理-安趣</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel6">-->
                <!--<a href="/resource3">-->
                    <!--<i class="fa fa-files-o"></i>-->
                    <!--<span class="title">资源管理-清源</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel5">-->
                <!--<a href="/story_battle">-->
                    <!--<i class="fa fa-reorder"></i>-->
                    <!--<span class="title">剧情战报</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="http://182.92.161.59:3000/config_list.html" target="validate_blank">-->
                    <!--<i class="fa fa-sign-in"></i>-->
                    <!--<span class="title">配置规则</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li id="channel6">-->
                <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-legal"></i>-->
                    <!--<span class="title">战斗模拟</span>-->
                    <!--<span class="arrow "></span>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li id="channel6_1">-->
                        <!--<a href="/battle_simulation">模拟数据</a>-->
                    <!--</li>-->
                    <!--<li id="channel6_2">-->
                        <!--<a href="/battle_copy">普通副本</a>-->
                    <!--</li>-->
                    <!--<li id="channel6_3">-->
                        <!--<a href="/battle_brave_copy">精英副本</a>-->
                    <!--</li>-->
                    <!--<li id="channel6_4">-->
                        <!--<a href="/battle_mie">灭神殿</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li id="channel7">-->
                <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-gamepad"></i>-->
                    <!--<span class="title">掉落模拟</span>-->
                    <!--<span class="arrow "></span>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li id="channel7_1">-->
                        <!--<a href="/world_drop">掉落模拟</a>-->
                    <!--</li>-->
                    <!--<li id="channel7_2">-->
                        <!--<a href="/query_drop_result">查询记录</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li id="channel8">-->
                <!--<a href="/simulator">-->
                    <!--<i class="fa fa-legal"></i>-->
                    <!--<span class="title">战斗模拟2</span>-->
                    <!--&lt;!&ndash;<li id="channel8_1">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="/simulator"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
    <!-- END SIDEBAR MENU -->
</body>
</html>