<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>限时神将排名</title>
</head>
<body>
    <form action="/{{url_partition}}/admin/limit_hero_rank/" method="get">
        用户id(*): <input type="text" width="10px" value="{{user_id}}" name="uid"/>
        日期(*): <input type="text" width="10px" value="{{date}}" name="date"/>
        名次: <input type="text" width="10px" value="{{start}}" name="start"/>到<input type="text"  width="10px" value="{{end}}" name="end"/>
        <input type="submit" value="查看" id="submit" name="submit">
    </form>
    <hr />

    <table border="1" cellpadding="0" cellspacing="0" id="stat">
        限时神将排名
        <tr>
          <td width="100" align="center">名次</td>
          <td width="100" align="center" name="args">玩家id</td>
          <td width="100" align="center" name="args">分数</td>
        </tr>
        {% for i, st in enumerate(rank_list) %}
            {% if st[0] == user_id %}
                <tr bgcolor="red">
            {% else %}
                <tr bgcolor="cornsilk">
                    <td align="center" width="0">{{i+1}}</td>
                    <td align="center" width="0">{{st[0]}}</td>
                    <td align="center" width="0">{{st[1]}}</td>
                </tr>
            {% end %}
        {% end %}
    </table>
</body>
</html>