<?xml version="1.0" encoding="UTF-8" ?>
<!--运行配置文件-->
<Server>
    <Info>
        <Acc>1</Acc>
        <AccCode>1</AccCode>
        <ID>1</ID>
        <Type>self</Type>
        <Code>0XEE1D</Code>
        <AccMode>1</AccMode>
        <MergeMode>0</MergeMode>
    </Info>
    <Debug>true</Debug><!--调试开关-->
    <Log><!--日志-->
        <switch>true</switch><!--开关-->
        <level>1</level>     <!--级别（预留）-->
        <path>/Users/houguangdong/Workspace/learn_python/learn_hb_game/game/Source/Logg</path>
        <!--<path>/home/fantasysanguo/SanguoGame/Log</path>&lt;!&ndash;写入路径&ndash;&gt;-->
        <print>true</print><!--是否打印显示-->
    </Log>
    <DataBase><!--数据库配置区域-->
        <DB1><!--1号数据库-->
            <Engine>MySQL</Engine><!--引擎类型 MySQL Oracle ...-->
            <host>127.0.0.1</host><!--数据库IP地址-->
            <port>3306</port>     <!--数据库端口号-->
            <unix_socket>/private/tmp/mysql.sock</unix_socket>
            <unix_socket>/var/lib/mysql/mysql.sock</unix_socket><!--unix_socket高速连接-->
            <user>sanguo_bg</user><!--用户名-->
            <password>sanguo_passwd</password><!--密码-->
            <db>fantasy_sanguo_game</db><!--对应数据库名字-->
            <param>charset=utf8</param><!--数据库参数-->
            <echo>false</echo><!--SQLAlchemy echo-->
        </DB1>
    </DataBase>
    <Interface><!--接口-->
        <Player><!--玩家接口-->
            <ProtocolType>protobuf</ProtocolType><!--协议类型-->
            <listener><!--监听-->
                <ip>127.0.0.1</ip>
                <!--<ip>182.92.161.59</ip>--><!--ip地址-->
                <port>8012</port><!--端口号-->
            </listener>
            <MagicCode>0XEE1C</MagicCode><!--接入魔术字-->
            <max>500</max><!--最大同时接入连接数-->
        </Player>
        <Gates><!--gates-->
            <ProtocolType>protobuf</ProtocolType><!--协议类型-->
            <listener><!--监听-->
                <ip>127.0.0.1</ip><!--ip地址-->
                <port>19001</port><!--端口号-->
            </listener>
            <MagicCode>0XEE1C</MagicCode><!--接入魔术字-->
            <max>10</max><!--最大同时接入连接数-->
        </Gates>
        <AccServer>
            <ProtocolType>protobuf</ProtocolType>
            <Address>
                <ip>127.0.0.1</ip>
                <!--<ip>182.92.161.59</ip>-->
                <port>8011</port>
            </Address>
            <MagicCode>0XEE1D</MagicCode><!--接入魔术字-->
        </AccServer>
        <AccServer2>
            <ProtocolType>protobuf</ProtocolType>
            <Address>
                <ip>127.0.0.1</ip>
                <!--<ip>182.92.161.59</ip>-->
                <port>9011</port>
            </Address>
            <MagicCode>0XEE1D</MagicCode><!--接入魔术字-->
        </AccServer2>
        <WorldWarServer>
            <ProtocolType>protobuf</ProtocolType>
            <Address>
                <ip>127.0.0.1</ip>
                <!--<ip>182.92.240.247</ip>-->
                <port>9001</port>
            </Address>
            <MagicCode>0XEE1D</MagicCode><!--接入魔术字-->
        </WorldWarServer>
        <ExtServers>
            <Ext>
                <ProtocolType>protobuf</ProtocolType><!--协议类型-->
                <Address>
                    <ip>127.0.0.1</ip>
                    <port>8013</port>
                </Address>
                <ID>1</ID>
                <MagicCode>0XEE1C</MagicCode><!--接入魔术字-->
                <max>1</max><!--最大同时接入连接数-->
                <CUP>True</CUP>
                <DevilFotress>True</DevilFotress>
                <Battle>True</Battle>
                <MiPush>True</MiPush>
            </Ext>
            <!--<Ext>-->
                <!--<ProtocolType>protobuf</ProtocolType>&lt;!&ndash;协议类型&ndash;&gt;-->
                <!--<Address>-->
                    <!--<ip>127.0.0.1</ip>-->
                    <!--<port>8004</port>-->
                <!--</Address>-->
                <!--<ID>2</ID>-->
                <!--<MagicCode>0XEE1C</MagicCode>&lt;!&ndash;接入魔术字&ndash;&gt;-->
                <!--<max>1</max>&lt;!&ndash;最大同时接入连接数&ndash;&gt;-->
            <!--</Ext>-->
            <!--<Ext>-->
                <!--<ProtocolType>protobuf</ProtocolType>&lt;!&ndash;协议类型&ndash;&gt;-->
                <!--<Address>-->
                    <!--<ip>127.0.0.1</ip>-->
                    <!--<port>8005</port>-->
                <!--</Address>-->
                <!--<ID>3</ID>-->
                <!--<MagicCode>0XEE1C</MagicCode>&lt;!&ndash;接入魔术字&ndash;&gt;-->
                <!--<max>1</max>&lt;!&ndash;最大同时接入连接数&ndash;&gt;-->
            <!--</Ext>-->
        </ExtServers>
        <WSGI>
            <ProtocolType>http</ProtocolType>
            <listener><!--监听-->
                <ip>0.0.0.0</ip><!--ip地址-->
                <port>10000</port><!--端口号-->
            </listener>
        </WSGI>
    </Interface>
    <Configure><!--配置文件-->
        <root>/Users/houguangdong/Workspace/learn_python/learn_hb_game/game/Source/Configure</root>
        <!--<root>/home/fantasysanguo/SanguoGame/Configure</root>&lt;!&ndash;配置文件根目录&ndash;&gt;-->
    </Configure>
    <Resource><!--资源文件-->
        <root>/Users/houguangdong/Workspace/learn_python/learn_hb_game/game/Source/Resource</root>
        <!--<root>/home/fantasysanguo/SanguoGame/Resource</root>&lt;!&ndash;资源文件根目录&ndash;&gt;-->
    </Resource>
    <Parallels>
        <Workers>50</Workers>
    </Parallels>
</Server>