<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info view</title>
</head>
<body>
    <table border="0">
        {% if method == 'info_view' %}
        <tr>
            <td><a target="content" href="/{{url_partition}}/admin/user/">用户</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/user_cards/">用户卡牌</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/server_overview/">充值及在线总数</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/pay_index/">充值详情</a></td>
            <td><a target="_blank" href="/{{url_partition}}/admin/ad_activate_count/">ad激活</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/status_inquiry/">服务器状态</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/watch_ban_uids/">封杀列表</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/view_bulk_uid_transfer/">批量账号转移</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/limit_hero_rank/">限时神将排名</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/super_active_rank/">宇宙最强排名</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/refresh_enemy_uid/">神域刷新敌人</a></td>
        </tr>
        {% elif method == 'develop' %}
        <tr>
            <td><a target="content" href="/{{url_partition}}/admin/config/">游戏配置</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/server_list/">分服配置</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/skill/">上传技能</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/code_index/">激活码</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/battle_index/">模拟战斗</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/gacha_test/">模拟gacha</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/search_approval/">充值审批查询</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/add_admin/">添加管理员</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/sys_time_index/">更改进程时间</a></td>
        </tr>
        {% elif method == 'tools' %}
        <tr>
            <td><a target="content" href="/{{url_partition}}/admin/give_item/">送道具</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/give_equip/">送装备</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/give_gem/">送觉醒宝石</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/give_pet/">送宠物</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/give_seed/">送无主之地的种子</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/give_card/">送卡牌</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/notice/">系统消息</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/open_box_index/">开宝箱</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/virtual_index/">虚拟充值</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/approval_index/">充值审批</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/send_notify/">发送系统邮件</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/give_material/">送勋章碎片</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/give_medal/">送勋章</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/refresh_outlets/">刷新限购商城</a></td>
        </tr>
        <tr>
            <td><a target="content" href="/{{url_partition}}/admin/mv_account/">替换账号</a></td>
            <td><a target="content" href="/{{url_partition}}/admin/modify_guild/">工会添加</a></td>
        </tr>
        {% end %}
    </table>
</body>
</html>